
<%= javascript_include_tag "bootstrap" %>
<script type="text/javascript">

</script>


<div class="container-fluid">
  <div class="streetimg"> </div>
  <div class="container">
    <h1 class="text-center">{Scruffy Sounds}</h1> 
    <div id="posts">
      <%= render partial:'post', collection:@posts %>
    </div>
    <span id="loading"> <img src="http://i.imgur.com/ZfniLfZ.gif"></span>
  </div>
</div>
<%= javascript_include_tag "index" %>
